@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'Virgil' ;
		src: url(../fonts/Virgil.woff2) format('woff2');
	}

	html {
		margin: 0;
		font-family: "Virgil", system-ui, sans-serif;
	}
}
